<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blend Bulletin</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
  <header>
    <h1>Blend Bulletin</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/make">Edit Review</a></li>
        <li><a href="/search">Search</a></li>
        <li>
            <% if (loggedIn) { %>
                <a href="/logout" class="">Sign Out</a>
            <% } else { %>
                <a href="/login" class="">Login</a>
            <% } %>
        </li>
    </ul>
</nav>
</header>
<div class="container">
<section>
