<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Login</title>
</head>
<body>
    <h1>Admin Login</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form method="POST" action="/dashboard">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" pattern="7654321" title="Password must be correct!">
        <button type="submit">Login</button>
    </form>
</body>
</html>
