{{#extends 'main'}}

{{#block 'body'}}
<main>
    <section>
        <h2>Contact Our Team</h2>
        <p>If you have any questions, concerns, or feedback, please feel free to reach out to us. We are here to help!</p>
        <ul>
            <li>Nathaniel Luis V. Alfaro: <a href="mailto:nathaniel_alfaro@dlsu.edu.ph">nathaniel_alfaro@dlsu.edu.ph</a></li>
            <li>Roj Aleck R. Friginal: <a href="mailto:roj_friginal@dlsu.edu.ph">roj_friginal@dlsu.edu.ph</a></li>
            <li>Brian Joseph P. Santamaria: <a href="mailto:brian_santamaria@dlsu.edu.ph">brian_santamaria@dlsu.edu.ph</a></li>
            <li>Kian H. Syjueco: <a href="mailto:kian_syjueco@dlsu.edu.ph">kian_syjueco@dlsu.edu.ph</a></li>
        </ul>
    </section>
</main>
{{/block}}
