{{#extends 'main'}}

{{#block 'body'}}
<main>
    <form id="login-form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <label for="remember">
            <input type="checkbox" id="remember" name="remember"> Remember me
        </label>
        
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a>.</p>
</main>
{{/block}}
