body {
    margin: 0;
    padding: 0;
}

/* Center the content inside the review boxes */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coffee-shop-link {
    text-decoration: none;
    color: #333;
}

.review {
    width: 48%;
    margin-bottom: 20px;
    background-color: #faf4e3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-sizing: border-box;
    text-align : center;
}

.review img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.image-text-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-name {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
}

.review-text {
    color: #333;
    font-size: 16px;
    margin-left: 0;
    text-align: center;
}