<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <title>About Us</title>
</head>
<body>
    
        <h1>About Us</h1>
    <div class="about-container">
        <section>
            <h2>NPM Packages Used</h2>
            <ul>
                <li>dotenv</li>
                <li>express</li>
                <li>express-ejs-layouts</li>
                <li>express-session</li>
                <li>multer</li>
                <li>mongodb</li>
                <li>path</li>
                <li>body-parser</li>
                <li>bcrypt</li>
            </ul>
        </section>
        <section>
            <h2>Our Story</h2>
                <p> In the busy street of Taft, two students, Mark and Jose Miguel, shared a common passion: coffee. Every weekend, 
                    they would meet up at the local coffee shops, indulging in their favorite brews and exploring the hidden gems around their college area. As they sipped and chatted
                    , an idea began to brew.
                
                    "Why not create a platform where we can share our coffee experiences and discoveries with others?" Mark suggested.
                    
                    The idea resonated with Jose Miguel, and the seeds of Blend Bulletin were sown. With their combined love for coffee and a shared vision to
                     create a community of coffee enthusiasts, they embarked on a journey to develop a website that would serve as a hub for coffee lovers in their area.
                
                    From that simple idea sparked during a casual coffee meetup, Blend Bulletin was born. Today, it stands as a testament 
                    to their dedication and passion for coffee, connecting fellow aficionados and showcasing the best coffee spots around.
                </p>
            </section>

        <section>
            <h2>Our Mission</h2>
            <p>
                Our mission at Blend Bulletin is to share the joy of coffee with fellow enthusiasts by guiding them to the best coffee spots in their area. We are committed 
                to providing the most authentic and trustworthy reviews on the internet, ensuring that every cup of coffee you enjoy is a memorable experience.
            </p>       
         </section>

        <section>
            <h2>Meet the Team</h2>
            <div class="team-member">
                <img src="/images/mark.png" alt="Mark Christian">
                <h3>Mark Christian</h3>
                <p>Founder</p>
            </div>
            <div class="team-member">
                <img src="/images/jm.jpg" alt="Jose Miguel">
                <h3>Jose Miguel</h3>
                <p>Co-Founder</p>
            </div>
            <!-- Add more team members as needed -->
        </section>
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>
