<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Review Failed</title>
</head>
<body>
    <h1>Failed</h1>
    <p>You already have an existing review for this coffee shop.</p>
    <a href="/">Go back to Home</a>
</body>
</html>
