body {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f3deba;
    height: 100vh;
  }
  
  header {
    background-color: #7a4f39;
    color: #f3d354;
    padding: 30px;
    text-align: center;
  }

  footer {
    background-color: #4d3022;
    color: #f3d354;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    }

  nav {
    background-color: #4d3022;
    overflow: hidden;
    border-radius: 0%;
}
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  section {
    padding: 20px;
    background-color: #F3DEBA;
    border-radius: 8px;
  }
  
  section img {
    max-width: 30%;
    height: auto;
  }

  .image-text-container {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .image-name {
    color: #333;
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  .container {
    text-align: start;
    padding-top: 0;
  }
  
  h1 {
    margin: 0;
    font-size: 50px;
  }

  h2 {
    color: #333;
    font-size: 30px;
  }

  p2 {
    color: #333;
    font-size: 25px;
    margin-left: 20px;
  }

  .ratings{
    margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
  }

  


.create-review-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust the maximum width according to your design */
    margin: 0 auto; /* Center the container horizontally */
}

.create-review-container h2 {
    color: #333;
}

.create-review-container form {
    display: flex;
    flex-direction: column;
}

.create-review-container label {
    margin-bottom: 8px;
    color: #555;
}

.create-review-container input,
.create-review-container textarea,
.create-review-container button {
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.create-review-container button {
    background-color: #d29f53;
    color: #fff;
    cursor: pointer;
    border: none;
}

.create-review-container button:hover {
    background-color: #a87b3e;
}


